#five
{
    border:  black;
    height:450px;
    background-color:  black; 
    
}
.fivea
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#rightside
{
margin-right: 80px;
margin-top: 150px;
}
#rightside #links
{
    margin-left: 18px;
}
 a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-left:25px ;
    font-family: 'Jost', sans-serif;
    font-weight: 100;
}
a:hover
{
    color:greenyellow;
}
#pipe
{   
    padding-left: 25px;
    color:white;
    font-size: 30px;
}
#icon
{
    padding-left: 20px;
    margin-top: 18px;
}
.socialicons
{
    margin-right: 50px;
    margin-top: 15px;
    
    
}
.fivec
{
    text-align: end;
    margin-top: 120px;
    
}
#fivecone
{
    color: white;
    font-family: 'Times New Roman';
    margin-right: 50px;
}





























// .fa-brands
// {
//     padding: 20px;
//     color:white;
//     font-size: 35px;
// }
// a
// {
//     text-decoration: none;
//     color: white;
//     font-size: 30px;
//     padding-left:10px ;
// }
// a:hover
// {
//     color:greenyellow;
// }
// #pipe
// {   
//     padding-left: 10px;
//     color:white;
//     font-size: 30px;
// }
// #aone
// {
//     color: rgb(247, 230, 197);
//     font-size: 80px;
//     font-family:  Georgia;
//     margin-left: 100px;
// }
// .fiveb
// {
//     display: flex;
//     flex-direction: row;
//     justify-content:space-between;
//     margin-top: 20px;
// }
// #bone
// {
//     color: rgb(247, 230, 197);
//     font-size: 50px;
//     font-family:  Georgia;
//     margin-left: 180px;
// }
// #socialicons
// {
//     margin-right: 100px;
// }
// .fivea
// {
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//     margin-right: 100px;
// }
// #cone
// {
//     color: rgb(247, 230, 197);
//     font-size: 80px;
//     font-family:  Georgia;
//     margin-left: 300px;
//     margin-top: 30px;
// }
// .fivec
// {
//     text-align: end;
    
// }
// #fivecone
// {
//     color: white;
//     font-family: 'Times New Roman';
//     margin-right: 250px;
// }
// #fivectwo
// {
//     margin-right: 200px;
// }